<div class="container">
<h2>用户 <%= current_user.name%> 的基本信息</h2><hr>

	<%= form_for(current_user, :html => {:class=>'form-inline'}) do |u| %>
		我想改昵称：	<%= u.text_field :nickname %>
		<%= u.submit "OK", class: "btn" %>
	<% end %>

	<% tmpcount = current_user.confirmedlunchs.count%>
	<% tmpchargecount = current_user.confirmedcharges.count%>
	</ul>
	<% if tmpcount > 0 %>
		<h2>参与的所有饭局</h2><br>
		<table class="table table-hover">
			<tr>
				<th>日期</th>
				<th>所在饭团</th>
				<th>金额</th>
				<th>结账团长</th>
			</tr>
			<% current_user.confirmedlunchs.each do |l|%>
			<tr>
				<td><%= l.created_at.to_time.strftime('%y年%m月%d日') %></td>
				<td><%= l.fangroup.nickname %></td>
				<td><%= (l.expense * 10 / l.participants.count) / 10.0 %></td>
				<td><%= l.user.name if l.user != nil %></td>
			</tr>
			<% end %>
		</table>
	<% end %>
	<% if tmpchargecount > 0 %>
		<h2>所有充值记录</h2><br>
		<table class="table table-hover">
			<tr>
				<th>日期</th>
				<th>所在饭团</th>
				<th>充值金额</th>
				<th>确认充值团长</th>
			</tr>
			<% current_user.confirmedcharges.each do |c|%>
			<tr>
				<td><%= c.created_at.to_time.strftime('%y年%m月%d日') %></td>
				<td><%= c.fangroup.nickname  %></td>
				<td><%= c.amount %></td>
				<td><%= c.user.name if c.user != nil  %></td>
			</tr>
			<% end %>
		</table>
	<% end %>
	
</div>