<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @gamblegame.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @gamblegame.description %>
</p>

<p>
  <b>Options:</b>
  <%= @gamblegame.options %>
</p>

<p>
  <b>Result:</b>
  <%= @gamblegame.result %>
</p>


<%= link_to 'Edit', edit_gamblegame_path(@gamblegame) %> |
<%= link_to 'Back', gamblegames_path %>
