<center class="container">
<%= image_tag "pilot_pics/logo.jpg" %>
&nbsp <br>&nbsp<br>
</center>
<div class="container">
	<%= render "introduction" %>
</div>
<div class="container">
	<table class="table">
	<tr><td class="span3"><h3>第1篇，飞行练习</h3></td>
	<td>
		&nbsp;&nbsp;&nbsp;&nbsp;初次接触飞行的人，将在第一篇中练习控制飞机。这不是件简单得事情。在飞机的动力，升力，阻力，重力综合作用下，控制飞行线路和姿态是一门艺术。
		<br>&nbsp;&nbsp;&nbsp;&nbsp;第一篇的不同关卡会指导玩家一步步练习对飞机的控制，并熟悉这架飞机。
		<br><br>&nbsp;&nbsp;&nbsp;&nbsp;使用方向键控制飞机的动力和俯仰：
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 按‘←’ 减动力，‘→’ 加动力。按‘↑’ 俯冲，‘↓’ 拉升
		<br>&nbsp;&nbsp;&nbsp;&nbsp;使用字母‘A’键，控制飞机翻滚：
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 飞机每次翻滚180度，上下颠倒过来。
	</td></tr>
	<tr><td colspan="2">
		<% @games.each do |episode|%>
			<% if episode.season == 1 %>
				<%= render partial: "episode", locals: { episode: episode } %>
			<% end %>
		<% end %>
	</td></tr>
	<tr><td colspan="2"></td></tr>

	<tr><td class="span3"><h3>第2篇，目标T34</h3></td>
	<td>
		&nbsp;&nbsp;&nbsp;&nbsp;结束了基本的飞行练习，飞机开始带弹飞行，击毁目标坦克。<br>
		<br>&nbsp;&nbsp;&nbsp;&nbsp;轰炸机大多使用高空水平轰炸，投弹的精度很低。所以后来发展出了俯冲轰炸，但是俯冲轰炸需要很高的飞机操控能力。好在我们在第一篇的关卡中，已经练出了驾驶飞机的高超本领，在这一篇的关卡中可以大显身手了。
		
	</td></tr>
	<tr><td colspan="2">
		<% @games.each do |episode|%>
			<% if episode.season == 2 %>
				<%= render partial: "episode", locals: { episode: episode } %>
			<% end %>
		<% end %>
	</td></tr>
	<tr><td colspan="2"></td></tr>

	<tr><td class="span3"><h3>第3篇，空中格斗</h3></td>
	<td>
		任务难度升级，不但要击毁目标坦克，还要躲避前来拦截的战斗机
	</td></tr>
	<tr><td colspan="2"><center><div class="">COMING SOON! 翘首以盼!</div></center></td></tr>
	<tr><td></td><td></td></tr>
	</table>
</div>



<% if current_user.email == "ji.x.li@oracle.com"%>
	<hr><center>
	<%= link_to 'New Episode', new_game_path %></center>
<% end %>

