<center class="container">
<%= image_tag "pilot_pics/logo.jpg" %>
&nbsp <br>&nbsp<br> 
<table class="table span10">
	<tr>
		<th>关卡</th>
		<th>详细信息</th>
		<th>排行榜</th>
	</tr>
<% @games.each do |game| %>
  <tr>
    <td>
			<h4><%= game.title %></h4>
			第<%= game.season %>篇，第<%= game.episode %>关<br>
			<%= link_to 'Play!', game %>
			<% if current_user.email == "ji.x.li@oracle.com"%>
				<%= link_to 'Edit', edit_game_path(game) %>
				<%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</td>
    <td><br>
			介绍：<%= game.info %><br>
			任务：<%= game.task %>
		</td>
		<td>
		<% if game.scores.count == 0 then %>
			没有记录
		<% else %>
			<ul>
				<% tmp = 0 %>
				<% game.scores.each do |s|%>
					<% tmp = tmp + 1
					break if tmp > 3 %>
					<li><%= s.record %>秒，<%= s.user.name %></li>
				<% end %>
			</ul>
		<% end %>
		</td>
  </tr>
<% end %>
</table>

</center>

<% if current_user.email == "ji.x.li@oracle.com"%>
	<hr><center>
	<%= link_to 'New Episode', new_game_path %></center>
<% end %>

