<%= form_for(@comment) do |f| %>
	<%= f.hidden_field :lunch_id, value: @lunch.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
	<div>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit "评论", class: "btn" %>
  </div>
<% end %>
