  <head>
    <title>Oracle - 吃饭！</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
		<%= javascript_include_tag "defaults" %>
    <%= javascript_include_tag "prototype" %>

    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Oracle - 吃饭！", '#', id: "logo" %>
					<ul class="nav nav-tabs" id="myTab">
						<li> &nbsp&nbsp&nbsp</li>
						<li <% if session[:tab] == "lunchs" %> class="active" <% end %> ><%= link_to "今日饭局", "/lunchs" %></li>
						<li <% if session[:tab] == "fangroups" %> class="active" <% end %> ><%= link_to "食客团体", "/fangroups" %></li>
						<li <% if session[:tab] == "users" %> class="active" <% end %> ><%= link_to "个人信息", "/users" %></li>
						<li <% if session[:tab] == "games" %> class="active" <% end %> ><%= link_to "游戏(持续更新)", "/games" %></li>
					</ul>
          <nav>
            <ul class="nav pull-right">
              <% if current_user %>
								<li><%= link_to current_user.email, '#' %></li>
								<li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
								<li><%= link_to('修改密码', edit_registration_path(:user)) %></li>
              <% else %>  
								<li><%= link_to('註冊', new_registration_path(:user)) %></li>
								<li><%= link_to('登入', new_session_path(:user)) %></li>
								<li><%= link_to "帮助",    '#' %></li>
							<% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>

